# Ignorar base de datos SQLite
registros.db

# Ignorar carpetas __pycache__ en todo el proyecto
__pycache__/

# Ignorar archivos .pyc (bytecode compilado)
*.pyc

# ignorar logs 

app.log

#ingonar .env aca van las contraseñas ojo !!!

.env

# Ignorar archivos de configuración locales
config/config.json

#ignorar base de datos de pruebas
registros_ejemplos.db